---
# Main Monitoring Agent tasks orchestrator

- name: Include secrets variables
  ansible.builtin.include_vars: vars/secrets.yml
  no_log: true

- name: Include Telegraf tasks
  import_tasks: telegraf/main.yml
