---
# Handlers for monitoring_hub role

- name: restart grafana
  ansible.builtin.systemd:
    name: "{{ monitoring_services[0] }}"
    state: restarted
    daemon_reload: true
  failed_when: false
  async: 10
  poll: 2

- name: restart influxdb
  ansible.builtin.systemd:
    name: "{{ monitoring_services[1] }}"
    state: restarted
    daemon_reload: true
  failed_when: false
  async: 10
  poll: 2

- name: Restart Alert Formatter
  ansible.builtin.systemd:
    name: alert-formatter.service
    state: restarted
    daemon_reload: true
  failed_when: false
  async: 10
  poll: 2
