---
- name: Setup validator directory structure
  ansible.builtin.import_tasks: ../../solana_validator_shared/tasks/setup_validator_directory.yml
  tags: [solana_validator_jito, setup_validator_directory]

- name: Precheck parameters
  import_tasks: precheck.yml
  tags: [solana_validator_jito, precheck]

- name: Prepare variables needed for the role
  import_tasks: prepare.yml
  tags: [solana_validator_jito, prepare]

- name: Cleanup the host from existing validator data
  import_tasks: ../../solana_validator_shared/tasks/cleanup_validator_data.yml
  when: force_host_cleanup | default(false) | bool
  tags: [solana_validator_jito, cleanup]

# Jito relayer installation and configuration
- name: Co-hosted Relayer installation
  import_tasks: jito_relayer_cohosted/main.yml
  when: jito_relayer_type == 'co-hosted'
  tags: [solana_validator_jito, jito_relayer]

- name: Jito-Solana client configuration
  import_tasks: configure.yml
  tags: [solana_validator_jito, configure]

- name: Jito-Solana client verification
  import_tasks: verify.yml
  tags: [solana_validator_jito, verify]

- name: Pin validator process to CPU core
  import_tasks: "{{ playbook_dir }}/../roles/solana_validator_shared/tasks/pin_validator_core.yml"
  when:
    - run_poh_cpu_affinity_fix | default(false) | bool
    - validator_type | default('primary') == 'primary'
  tags: [solana_validator_jito, pin_validator_core]

- name: Print Summary
  import_tasks: summary.yml
  tags: [solana_validator_jito, summary]
