---
- name: Precheck - Fail on deprecated relayer variables
  ansible.builtin.assert:
    that:
      - jito_relayer_type is not defined
      - jito_relayer_version is not defined
      - jito_relayer_url is not defined
      - jito_urls is not defined
      - jito_mainnet_block_engine_city is not defined
      - jito_testnet_block_engine_city is not defined
      - jito_localnet_block_engine_city is not defined
    fail_msg: >-
      Deprecated relayer-era variables detected.
      Use BAM variables instead:
      - jito_bam_endpoints
      - jito_mainnet_bam_region / jito_testnet_bam_region / jito_localnet_bam_region

- name: Set value for validator_keyset_dir
  ansible.builtin.set_fact:
    validator_keyset_dir: "{{ validator_keys_dir + '/' + validator_name }}"

- name: Gather facts for localhost
  ansible.builtin.setup:
  delegate_to: localhost
  run_once: true

- name: Set ansible_home_dir for ansible-control host
  ansible.builtin.set_fact:
    ansible_home_dir: "{{ lookup('env', 'HOME') }}"
  delegate_to: localhost
  run_once: true

- name: Set keys dir for local ansible control host and target host
  ansible.builtin.set_fact:
    ansible_keys_dir: "{{ ansible_home_dir }}/.validator-keys/{{ validator_name }}"
    validator_keyset_dir: "{{ keys_dir }}/{{ validator_name }}"

- name: Check required validator keypairs
  block:
    - name: Check if primary-target-identity.json exists in ansible_keys_dir
      ansible.builtin.stat:
        path: "{{ ansible_home_dir }}/.validator-keys/{{ validator_name }}/primary-target-identity.json"
      register: primary_target_identity_file
      delegate_to: localhost
      run_once: true

    - name: Fail if primary-target-identity.json is missing
      ansible.builtin.fail:
        msg: "primary-target-identity.json not found in {{ ansible_home_dir }}/.validator-keys/{{ validator_name }}"
      when: not primary_target_identity_file.stat.exists

    - name: Get primary target identity pubkey
      ansible.builtin.command: solana-keygen pubkey {{ ansible_home_dir }}/.validator-keys/{{ validator_name }}/primary-target-identity.json
      register: primary_target_pubkey
      delegate_to: localhost
      run_once: true
      when: validator_type == 'primary'

    - name: Check if vote-account.json exists in ansible_keys_dir
      ansible.builtin.stat:
        path: "{{ ansible_home_dir }}/.validator-keys/{{ validator_name }}/vote-account.json"
      register: vote_account_file
      delegate_to: localhost
      run_once: true

    - name: Fail if vote-account.json is missing
      ansible.builtin.fail:
        msg: "vote-account.json not found in {{ ansible_home_dir }}/.validator-keys/{{ validator_name }}"
      when: not vote_account_file.stat.exists

- name: Get host architecture
  ansible.builtin.import_tasks: ../../common/tasks/set_host_architecture.yml

# Disk space requirements (experimental)
- name: precheck - Check minimum disk space
  ansible.builtin.import_tasks: ../../common/tasks/check_minimum_disk_space.yml
