# See https://docs.localstack.cloud/getting-started/installation/
# See https://stackoverflow.com/questions/76305311/is-there-a-default-value-for-localstacks-localstack-volume-dir-variable-if-o
# See https://docs.docker.com/compose/install/

x-validator-variables: &validator-variables
  image: ${COMPOSE_PROJECT_NAME}-validator
  volumes:
    - /mnt/ledger
    - /mnt/accounts
    - /mnt/snapshots
    # - "${HOME}/.ssh/id_ed25519.pub:/tmp/id_ed25519.pub:ro" # Mount the host's public key as read-only # deleteme
    # - "../ansible/iam/users:/tmp/team_ssh_public_keys:ro" # Mount the team public keys as read-only # deleteme
    - ./container-setup/scripts/set-container-default-user-ssh-key.sh:/container-setup/scripts/set-container-default-user-ssh-key.sh
    - ./container-setup/scripts/set-validator-service-user-ssh-key.sh:/container-setup/scripts/set-validator-service-user-ssh-key.sh
    - ./localnet-ssh-keys:/localnet-ssh-keys
  environment:
    HOST_DEFAULT_USER: ubuntu # the unsername of the default user in the container OS, e.g., 'ubuntu' for Ubuntu images
    VALIDATOR_SERVICE_USER: sol # Set the username inside the container
    RPC_URL: http://gossip-entrypoint:8899
  tmpfs:
    - /run
    - /run/lock
    - /tmp
  command: ["/lib/systemd/systemd", "--system"]
  # optional but nice:
  tty: true
  stdin_open: true

x-ansible-control-base: &ansible_base
  # container_name: ansible-control
  build:
    context: ./
    target: ansible-control-builder
  image: ${COMPOSE_PROJECT_NAME}-ansible-control
  working_dir: /hayek-validator-kit/
  environment:
    - RPC_URL=http://gossip-entrypoint:8899
  stdin_open: true
  tty: true

networks:
  solana_network:
    driver: bridge
    ipam:
      config:
        - subnet: 172.25.0.0/16

services:

  keygen-init:
    image: debian:stable-slim
    profiles: ["localnet"]
    container_name: "keygen-init"
    volumes:
      - ./container-setup/scripts/generate-localnet-ssh-keys.sh:/generate-localnet-ssh-keys.sh
      - ./localnet-ssh-keys:/localnet-ssh-keys
      - ./localnet-new-metal-box:/localnet-new-metal-box
    command: ["bash", "-c", "apt update && apt install -y openssh-client && /generate-localnet-ssh-keys.sh"]
  
  gossip-entrypoint:
    build:
      context: ./
      target: gossip-entrypoint-builder
    image: ${COMPOSE_PROJECT_NAME}-gossip-entrypoint
    profiles: ["localnet"]
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8899/health"]
      interval: 5s
      retries: 20
    container_name: "gossip-entrypoint"
    hostname: "gossip-entrypoint"
    environment:
      - FOO="bar"
    networks:
      solana_network:
        ipv4_address: 172.25.0.10
    ports:
      - "9022:22"
      - "8899:8899"
      - "8900:8900"
      - "8000:8000"
      - "8001:8001"
      - "8002:8002"
      - "8003:8003"
      - "8004:8004"
      - "8005:8005"
      - "8006:8006"
      - "8007:8007"
      - "8008:8008"
      - "8009:8009"
      - "8010:8010"
      - "8011:8011"
      - "8012:8012"
      - "8013:8013"
      - "8014:8014"
      - "8015:8015"
      - "8016:8016"
      - "8017:8017"
      - "8018:8018"
      - "8019:8019"
      - "8020:8020"
    # dns:
    #   - 8.8.8.8
    #   - 1.1.1.1

  # host-alpha will be hosting a voting non-delinquent validator named Canopy with a bunch of SOL stake
  host-alpha:
    profiles: ["localnet"]
    depends_on:
      keygen-init:
        condition: service_completed_successfully
      gossip-entrypoint:
        condition: service_healthy
    build:
      context: ./
      target: validator-builder
    container_name: "host-alpha"
    hostname: "host-alpha"
    ports:
      - "9122:22"
    networks:
      solana_network:
        ipv4_address: 172.25.0.11
    <<: [ *validator-variables ]

    # host-bravo is a validator-ready container without a validator key set. It does not have any validator running, but the tooling is already installed.
  host-bravo:
    profiles: ["localnet"]
    depends_on:
      keygen-init:
        condition: service_completed_successfully
    # NO NEED TO BUILD, because we want to use the image `${COMPOSE_PROJECT_NAME}-validator`
    # specified in *validator-variables and by now that image should be already built for host-alpha.
    # build:
    #   context: ./
    #   # dockerfile: ./validator/Dockerfile
    #   target: validator-builder
    container_name: "host-bravo"
    hostname: "host-bravo"
    ports:
      - "9222:22"
    networks:
      solana_network:
        ipv4_address: 172.25.0.12
    <<: [ *validator-variables ]

# host-charlie is a naked Ubuntu 24.04. This guy is not ready for anything. This is good to test bare-bone provisioning scripts.
  host-charlie:
    profiles: ["localnet"]
    depends_on:
      keygen-init:
        condition: service_completed_successfully
    build:
      context: ./
      target: naked-builder
    image: ${COMPOSE_PROJECT_NAME}-ubuntu-naked
    container_name: "host-charlie"
    hostname: "host-charlie"
    ports:
      - "9322:22"
    networks:
      solana_network:
        ipv4_address: 172.25.0.13
    volumes:
      - ./container-setup/scripts/set-container-default-user-ssh-key.sh:/container-setup/scripts/set-container-default-user-ssh-key.sh
      - ./localnet-ssh-keys:/localnet-ssh-keys
    environment:
      HOST_DEFAULT_USER: ubuntu # the unsername of the default user in the container OS, e.g., 'ubuntu' for Ubuntu images
      RPC_URL: http://gossip-entrypoint:8899
    tmpfs:
      - /run
      - /run/lock
      - /tmp
    command: ["/lib/systemd/systemd", "--system"]

  host-monitoring:
    profiles: ["monitor"]
    depends_on:
      keygen-init:
        condition: service_completed_successfully
    # build:
    #   context: ./
    #   target: naked-builder
    image: ${COMPOSE_PROJECT_NAME}-ubuntu-naked
    container_name: "host-monitoring"
    hostname: "host-monitoring"
    ports:
      - "9422:22"
      - "3000:3000" # Grafana
      - "8086:8086" # InfluxDB
    networks:
      solana_network:
        ipv4_address: 172.25.0.14
    volumes:
      - ./container-setup/scripts/set-container-default-user-ssh-key.sh:/container-setup/scripts/set-container-default-user-ssh-key.sh
      - ./localnet-ssh-keys:/localnet-ssh-keys
    environment:
      HOST_DEFAULT_USER: ubuntu # the unsername of the default user in the container OS, e.g., 'ubuntu' for Ubuntu images
    tmpfs:
      - /run
      - /run/lock
      - /tmp
    command: ["/lib/systemd/systemd", "--system"]

  # --- ANSIBLE CONTROL FOR LOCALNET (Podman) ---

  ansible-control-localnet:
    profiles: ["localnet"]
    <<: *ansible_base
    container_name: ansible-control-localnet
    environment:
      - SSH_AUTH_SOCK=/tmp/ssh-agent.sock
    depends_on:
      gossip-entrypoint:
        condition: service_healthy
      host-alpha:
        condition: service_started
      host-bravo:
        condition: service_started
      host-charlie:
        condition: service_started
    # share net stack with gossip-entrypoint like you do today
    network_mode: service:gossip-entrypoint
    volumes:
      - ..:/hayek-validator-kit # the workspace folder where the repo will be mounted. Update ANSIBLE_WORKSPACE_DIR to match this path in initialize-localnet-and-demo-validators.sh
      # - ./container-setup/scripts/generate-localnet-ssh-keys.sh:/usr/local/bin/generate-localnet-ssh-keys.sh
      - ./localnet-ssh-keys:/localnet-ssh-keys
      - ./localnet-new-metal-box:/root/new-metal-box
      - ./validator-keys:/root/.validator-keys
    command: ["/bin/bash", "-lc", "/hayek-validator-kit/solana-localnet/container-setup/scripts/start-ansible-ssh-agent.sh && exec sleep infinity"]

  # --- ANSIBLE CONTROL FOR PROD (Docker + 1Password) ---

  ansible-control-prod:
    # we want profile explicit
    profiles: ["prod"]
    <<: *ansible_base
    container_name: ansible-control-prod
    # Use Docker/OrbStack ssh-auth socket
    volumes:
      - ..:/hayek-validator-kit # the workspace folder where the repo will be mounted. Update ANSIBLE_WORKSPACE_DIR to match this path in initialize-localnet-and-demo-validators.sh
      - $SSH_AUTH_SOCK:/ssh-agent:ro
      - ${HOME}/new-metal-box:/root/new-metal-box # Users CSV file
      - ~/.config/solana/id.json:/root/.config/solana/id_maybe.json:ro # Solana default CLI keypair
      - ~/.validator-keys:/root/.validator-keys # TODO: harden permissions
    environment:
      - SSH_AUTH_SOCK=/ssh-agent
