---
- name: Countdown before automatic reboot
  ansible.builtin.pause:
    seconds: 10
    prompt: |
      Server reboot will start automatically in 10 seconds.

      Press Ctrl+C now to abort the playbook before reboot.
  delegate_to: localhost
  run_once: true

- name: Display reconnection instructions
  ansible.builtin.debug:
    msg: |
      -------------------------------------------------
      THE SERVER IS NOW RESTARTING

      To reconnect, please use:
      ssh {{ ansible_user }}@{{ ansible_facts['default_ipv4']['address'] }} -p {{ firewall.ssh_port }}

      Please allow a few minutes for the server to complete the restart.
      -------------------------------------------------
  run_once: true
  delegate_to: localhost

- name: Initiate server reboot
  ansible.builtin.reboot:
    reboot_timeout: 900
    connect_timeout: 5
    post_reboot_delay: 10
    test_command: whoami

- name: End playbook - Server is rebooting
  ansible.builtin.meta: end_play
