- name: Debug values for validator_keyset_dir and ansible_keys_dir
  ansible.builtin.debug:
    msg: |
      Source and destination keys directories
      =======================================
      validator_keyset_dir: {{ validator_keyset_dir }}
      ansible_keys_dir: {{ ansible_keys_dir }}

- name: jito_relayer_cohosted - relayer_keys - Ensure validator_keyset_dir exists
  ansible.builtin.file:
    path: "{{ validator_keyset_dir }}"
    state: directory
    mode: '0755'
  tags: [jito_relayer, check.keys]

- name: jito_relayer_cohosted - relayer_keys - Check if Jito Relayer Block Engine key exists in ansible_keys_dir
  ansible.builtin.stat:
    path: "{{ ansible_keys_dir }}/jito-relayer-block-eng.json"
  register: local_key_exists
  delegate_to: localhost
  run_once: true

- name: jito_relayer_cohosted - relayer_keys - Fail if Jito Relayer Block Engine key does not exist in ansible_keys_dir
  ansible.builtin.fail:
    msg: >-
      The Jito Relayer Block Engine keypair file ({{ ansible_keys_dir }}/jito-relayer-block-eng.json) must exist on the Ansible control host.
      This keypair must be pre-generated and its public key must be approved and whitelisted by Jito Labs.
  when: not local_key_exists.stat.exists
  delegate_to: localhost
  run_once: true

- name: jito_relayer_cohosted - relayer_keys - Copy Jito Relayer Block Engine key from ansible_keys_dir
  ansible.builtin.copy:
    src: "{{ ansible_keys_dir }}/jito-relayer-block-eng.json"
    dest: "{{ validator_keyset_dir }}/jito-relayer-block-eng.json"
    mode: '0600'
  tags: [jito_relayer, check.keys]

- name: jito_relayer_cohosted - relayer_keys - Gen Comms Keys - Get stats of the RSA private key
  ansible.builtin.stat:
    path: "{{ validator_keyset_dir }}/jito-relayer-comms-pvt.pem"
  register: comms_private_key
  tags:
    - check.keys

- name: jito_relayer_cohosted - relayer_keys - Gen Comms Keys - Generate comms RSA private key
  when:
    - not comms_private_key.stat.exists | default(false)
  ansible.builtin.shell: |
    openssl genrsa --out {{ validator_keyset_dir }}/jito-relayer-comms-pvt.pem 2048
  args:
    creates: "{{ validator_keyset_dir }}/jito-relayer-comms-pvt.pem"
  tags:
    - gen.keys.private

- name: jito_relayer_cohosted - relayer_keys - Gen Comms Keys - Generate comms RSA public key
  ansible.builtin.shell: |
    openssl rsa --in {{ validator_keyset_dir }}/jito-relayer-comms-pvt.pem --pubout --out {{ validator_keyset_dir }}/jito-relayer-comms-pub.pem
  args:
    creates: "{{ validator_keyset_dir }}/jito-relayer-comms-pub.pem"
  tags:
    - gen.keys.public
