---
- name: Installing Jito Relayer Co-Hosted
  ansible.builtin.debug:
    msg: "Setting up Co-Hosted Jito Relayer"

- name: jito_relayer_cohosted - install - Gather package facts
  ansible.builtin.package_facts:
    manager: apt

- name: jito_relayer_cohosted - install - Set required packages
  ansible.builtin.set_fact:
    required_packages:
      - jq
      - git
      - libssl-dev
      - libudev-dev
      - pkg-config
      - zlib1g-dev
      - llvm
      - clang
      - cmake
      - make
      - libprotobuf-dev
      - protobuf-compiler

- name: jito_relayer_cohosted - install - Check which packages need to be installed
  ansible.builtin.set_fact:
    packages_to_install: "{{ required_packages | difference(ansible_facts.packages.keys() | list) }}"

- name: jito_relayer_cohosted - install - Install prerequisites
  become: true
  block:
    - name: jito_relayer_cohosted - install - Update package index
      ansible.builtin.apt:
        update_cache: yes
      when: packages_to_install | length > 0

    - name: jito_relayer_cohosted - install - Install missing packages
      ansible.builtin.apt:
        name: "{{ packages_to_install }}"
        update_cache: true
      when: packages_to_install | length > 0

- name: jito_relayer_cohosted - install - Generate Jito relayer Auth keys
  import_tasks: gen_relayer_keys.yml
  tags:
    - jito_relayer.gen_setup_keys

- name: jito_relayer_cohosted - install - Build Jito relayer from source
  import_tasks: build_from_source.yml
  tags:
    - jito_relayer.build
