---
- name: Precheck Jito relayer cohosted requirements
  import_tasks: precheck.yml
  tags: [jito_relayer, precheck]

- name: Install Jito relayer cohosted
  import_tasks: install.yml
  when: relayer_installation_needed | default(false)
  tags: [jito_relayer, install]

- name: Configure Jito relayer cohosted
  import_tasks: config.yml
  tags: [jito_relayer, config]

- name: Verify Jito relayer cohosted setup
  import_tasks: verify.yml
  tags: [jito_relayer, verify]

- name: Jito Relayer Co-hosted setup complete
  debug:
    msg: >-
      Jito Relayer Co-hosted has been installed, configured and verified.
  tags: [jito_relayer, done]
