---
- name: Precheck Jito relayer cohosted requirements
  import_tasks: precheck.yml

- name: Install Jito relayer cohosted
  import_tasks: install.yml

- name: Configure Jito relayer cohosted
  import_tasks: config.yml

- when: jito_relayer_verify | default(true)
  name: Verify Jito relayer cohosted setup
  import_tasks: verify.yml

- name: Jito Relayer Co-hosted setup complete
  debug:
    msg: >-
      Jito Relayer Co-hosted has been installed, configured{{ ' and verified' if jito_relayer_verify | default(true) else '' }}.
  tags: [rust, done]
