# Pause to let user read the warning

- name: Notify about upcoming ubuntu user disablement
  ansible.builtin.debug:
    msg: |
          IMPORTANT: The ubuntu user will now be disabled.
          If you executed this playbook using the 'ubuntu' user, you will no longer be able to start an SSH session as 'ubuntu', neither from outside nor inside the server.
          From now on, you will only be able to establish SSH sessions using the following users:
          {% for user_item in users_csv.dict | dict2items %}
          {% if enable_validator_rbac | default(true) | bool or permited_groups[0] in [user_item.value.group_a, user_item.value.group_b, user_item.value.group_c] %}
          - {{ user_item.key }}
          {% endif %}
          {% endfor %}


- name: Pause for warning
  ansible.builtin.pause:
    prompt: "Press Enter to continue and disable ubuntu user, or Ctrl+C to abort"
  when: not (skip_confirmation_pauses | default(false))



- name: Disable ubuntu user completely (lock, remove sudo, block SSH, clean sudoers)
  ansible.builtin.shell: |
    # Lock user only if not locked
    passwd -S ubuntu | grep -vq 'L' && usermod -L ubuntu || true
    # Set shell only if not already nologin
    [ "$(getent passwd ubuntu | cut -d: -f7)" != "/usr/sbin/nologin" ] && usermod -s /usr/sbin/nologin ubuntu || true
    # Remove from sudo group only if present
    id -nG ubuntu | grep -qw sudo && gpasswd -d ubuntu sudo || true
    id -nG ubuntu | grep -qw admin && gpasswd -d ubuntu admin || true
    # Remove from /etc/sudoers only if present
    grep -q '^ubuntu[[:space:]]' /etc/sudoers && sed -i '/^ubuntu[[:space:]]/d' /etc/sudoers || true
    # Remove sudoers.d files only if present
    ls /etc/sudoers.d/90-cloud-init-users  2>/dev/null && rm -f /etc/sudoers.d/90-cloud-init-users || true
    # Remove ubuntu from all sudoers.d files only if present
    grep -q ubuntu /etc/sudoers.d/* 2>/dev/null && find /etc/sudoers.d -type f -exec sed -i '/ubuntu/d' {} + || true
    # Ensure DenyUsers ubuntu in sshd_config only if not present
    grep -q '^DenyUsers.*ubuntu' /etc/ssh/sshd_config || echo 'DenyUsers ubuntu' >> /etc/ssh/sshd_config
  register: disable_ubuntu_result
  become: true
  changed_when: false


- name: Reload sshd only if DenyUsers ubuntu was added
  ansible.builtin.shell: systemctl reload sshd
  become: true
  when: disable_ubuntu_result.changed
  ignore_errors: true
  changed_when: false
