---
# Install password quality module
- name: Update package cache
  ansible.builtin.apt:
    update_cache: true
  changed_when: false

- name: Install libpam-pwquality
  ansible.builtin.apt:
    name: libpam-pwquality
    state: present

# Configure password quality requirements
- name: Configure password quality settings
  ansible.builtin.lineinfile:
    path: /etc/security/pwquality.conf
    regexp: "{{ item.regexp }}"
    line: "{{ item.line }}"
    backup: true
  loop:
    - { regexp: '^#?minlen', line: 'minlen = {{ password_min_length }}' }
    - { regexp: '^#?enforce_for_root', line: 'enforce_for_root' }

# Configure password aging policies
- name: Configure password aging policies
  ansible.builtin.command: chage -M {{ password_max_days }} -m {{ password_min_days }} -W {{ password_warn_days }} {{ item.key }}
  loop: "{{ users_csv.dict | dict2items }}"
  changed_when: true
  no_log: true
