---
- name: Setup validator directory structure
  ansible.builtin.import_tasks: ../../solana_validator_shared/tasks/setup_validator_directory.yml
  tags: [solana_validator_agave, setup_validator_directory]

- name: Precheck parameters
  import_tasks: precheck.yml
  tags: [solana_validator_agave, precheck]

- name: Prepare variables needed for the role
  import_tasks: prepare.yml
  tags: [solana_validator_agave, prepare]

- name: Cleanup the host from existing validator data
  import_tasks: ../../solana_validator_shared/tasks/cleanup_validator_data.yml
  when: (force_host_cleanup | default(false)) | bool
  tags: [solana_validator_agave, cleanup]

- name: Configure and start Agave validator
  import_tasks: configure.yml
  tags: [solana_validator_agave, configure]

- name: handlers - Flush handlers before verification
  meta: flush_handlers
  tags: [solana_validator_agave, configure]

- name: Verify Agave validator installation
  import_tasks: verify.yml
  tags: [solana_validator_agave, verify]

- name: Pin validator process to CPU core
  import_tasks: "{{ playbook_dir }}/../roles/solana_validator_shared/tasks/pin_validator_core.yml"
  when:
    - run_poh_cpu_affinity_fix | default(false) | bool
    - validator_type | default('primary') == 'primary'
  tags: [solana_validator_agave, pin_validator_core]

- name: Print summary
  import_tasks: summary.yml
  tags: [solana_validator_agave, summary]
