---
- name: Precheck parameters
  import_tasks: precheck.yml
  tags: [solana_validator_agave, precheck]

- name: Prepare variables needed for the role
  import_tasks: prepare.yml
  tags: [solana_validator_agave, prepare]

- name: Cleanup the host from existing validator data
  import_tasks: host_cleanup.yml
  when: force_host_cleanup | default(false)
  tags: [solana_validator_agave, cleanup]
