---
- name: summary - Determine Solana cluster parameter
  ansible.builtin.import_tasks: ../../solana_validator_shared/tasks/determine_solana_cluster_param.yml

- name: Display validator monitoring hints
  ansible.builtin.debug:
    msg: |
      ===========================================================
      Validator setup complete. Helpful commands:
      ===========================================================

      Log in to {{ inventory_hostname }} via SSH:
      ssh -p {{ ansible_port | default(22) }} {{ ansible_user }}@{{ inventory_hostname }}

      Switch to sol user shell:
      sudo -u {{ solana_user }} -i

      Monitor cluster validators:
      solana validators {{ solana_cluster_param }} --keep-unstaked-delinquents
      solana gossip {{ solana_cluster_param }}

      Check for running validator process:
      ps aux | grep validator

      Monitor validator startup:
      agave-validator -l {{ ledger_path }} monitor

      View validator catchup status:
      solana catchup {{ solana_cluster_param }} --our-localhost 8899

      Inspect logs:
      tail -f {{ validator_logs_dir }}/agave-validator.log

      ===========================================================
