---
# Installation tasks for monitoring hub

- name: Update package cache
  ansible.builtin.apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Upgrade all packages to the latest version
  ansible.builtin.apt:
    upgrade: dist

- name: Install monitoring dependencies
  ansible.builtin.apt:
    name:
      - curl
      - wget
      - gnupg
      - software-properties-common
      - apt-transport-https
    state: present
