---
- name: confirm_target_host - Gather facts
  ansible.builtin.setup:

- name: confirm_target_host - Get IP information from ipinfo.io
  ansible.builtin.uri:
    url: "https://ipinfo.io/{{ ansible_facts['default_ipv4']['address'] }}/json"
    method: GET
  register: ip_info
  delegate_to: localhost
  run_once: true

- name: confirm_target_host - Show server IP and location for confirmation
  ansible.builtin.pause:
    prompt: |
      IMPORTANT: You are about to run this playbook on the server with IP: {{ ansible_facts['default_ipv4']['address'] }}

      Location Information:
      - City: {{ ip_info.json.city | default('Unknown') }}
      - Country: {{ ip_info.json.country | default('Unknown') }}
      - Organization: {{ ip_info.json.org | default('Unknown') }}

      To continue, please type exactly this IP: {{ ansible_facts['default_ipv4']['address'] }}

      If you are not sure, press Ctrl+C to cancel.

      Type IP here
  register: ip_confirmation
  when: ansible_facts['env']['TERM'] is defined and ansible_facts['env']['TERM'] != "dumb"

- name: confirm_target_host - Validate IP input
  ansible.builtin.fail:
    msg: "Incorrect IP. Please run the playbook again and type the correct IP."
  when:
    - ansible_facts['env']['TERM'] is defined
    - ansible_facts['env']['TERM'] != "dumb"
    - ip_confirmation.user_input != ansible_facts['default_ipv4']['address']
