# Variables that apply to all hosts in the solana group

solana_user: 'sol'
solana_user_dir: "/home/{{ solana_user }}"
validator_service_name: "sol"
jito_relayer_service_name: "jito-relayer"
ansible_solana_cli_dir: "{{ ansible_home_dir }}/.local/share/solana/install/active_release/bin"

# User variables
keys_dir: "{{ solana_user_dir }}/keys"
build_dir: "{{ solana_user_dir }}/build"
scripts_dir: "{{ solana_user_dir }}/bin"
logs_dir: "{{ solana_user_dir }}/logs"
solana_install_dir: "{{ solana_user_dir }}/.local/share/solana/install/active_release/bin"
solana_installed_releases_dir: "{{ solana_user_dir }}/.local/share/solana/install/releases"

# Disk mount points configuration
ledger_path: "{{ mount_base_path }}/ledger"
ledger_device: "/dev/nvme0n1"
ledger_fstype: "ext4"
accounts_path: "{{ mount_base_path }}/accounts"
accounts_device: "/dev/nvme1n1"
accounts_fstype: "ext4"
snapshots_path: "{{ mount_base_path }}/snapshots"

# Solana service settings
# snapshot_interval_slots: 0 # 0 means no snapshots are taken (deprecated starting with version 3.0.0)

# Solana service network settings
solana_rpc_port: 8899 # RPC port
open_solana_ports_start: 8000 # Start of the range of ports to open for Solana services
open_solana_ports_end: 8030 # End of the range of ports to open for Solana services
gossip_port: 8001 # Gossip port
minimal_snapshot_download_speed: 31457280 # Minimal snapshot download speed in bytes per second

# Repositories for downloading sources and binaries
# Official repositories
agave_official_repo: https://github.com/anza-xyz/agave
jito_official_repo: https://github.com/jito-foundation/jito-solana

# Forked repositories (with potential modifications)
agave_forked_repo: https://github.com/team-supersafe/forked-agave
jito_forked_repo: https://github.com/team-supersafe/forked-jito-solana

# New variables for V2 refactor (would replace some of the above shortly)
validator_root_dir: "/opt/validator"
validator_scripts_dir: "{{ validator_root_dir }}/scripts"
validator_logs_dir: "{{ validator_root_dir }}/logs"
validator_key_store: "{{ validator_root_dir }}/keys"
validator_build_dir: "{{ validator_root_dir }}/build"
# DEPRECATED: Use one common install root for all validator software. See TODO below.
validator_solana_install_root: "{{ validator_root_dir }}/install"
# TODO: In next PR, lets get all possible installations under install root
# validator_solana_install_root: "{{ validator_root_dir }}/install/solana"
validator_solana_install_dir: "{{ validator_solana_install_root }}/active_release/bin"
validator_solana_installed_releases_dir: "{{ validator_solana_install_root }}/releases"
validator_operators_group: "validator_operators"

# directory modes
validator_root_dir_mode: "2775"
validator_solana_active_release_dir_mode: "0775"
validator_solana_installed_releases_dir_mode: "2755"
validator_data_mode_owner_writable: "2775"
validator_data_mode_owner_readonly: "0575"
validator_logs_dir_mode: "2775"
validator_scripts_dir_mode: "2755"
validator_startup_script_mode: "0755"
validator_scripts_file_mode: "0754"
validator_key_file_mode: "0464"
