[Unit]
Description=Set CPU governor to performance
After=network.target

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'for cpu in /sys/devices/system/cpu/cpu*/cpufreq/scaling_governor; do echo "performance" > $cpu; done'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
