---
# Copy validator metrics service configuration files
- name: Render per-network Validator Metrics configs
  ansible.builtin.template:
    src: validator_metrics_service/validator-metrics.service.j2
    dest: "/etc/systemd/system/validator-metrics.service"
    owner: root
    group: root
    mode: '0644'

# Enable and start validator-metrics services
- name: Enable validator-metrics service
  ansible.builtin.systemd:
    name: "validator-metrics.service"
    enabled: true
    state: started
