---
# Render Validator Metrics Script
- name: Copy Validator Metrics Script
  ansible.builtin.copy:
    src: validator_metrics_service/validator-metrics.sh
    dest: "/usr/local/bin/validator-metrics.sh"
    owner: root
    group: root
    mode: '0755'
    