[Unit]
Description=Run logrotate for {{ validator_service_name }} every hour
Requires=validator-logrotate-{{ validator_service_name }}.service

[Timer]
OnCalendar=hourly
Persistent=true

[Install]
WantedBy=timers.target
