[Unit]
Description=Solana {{ validator_name }} {{ solana_cluster }} validator
After=network.target syslog.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User={{ solana_user }}
Environment=RUST_LOG=info
LimitNOFILE=1000000
LimitMEMLOCK=2000000000
LogRateLimitIntervalSec=0
ExecStart={{ validator_script_path }}

[Install]
WantedBy=multi-user.target
