{{ logs_dir }}/agave-validator.log {
    rotate {{ logrotate_rotate_count }}
    {% if solana_cluster == 'localnet' %}
    size {{ logrotate_max_size_localnet }}
    {% else %}
    size {{ logrotate_max_size }}
    {% endif %}
    compress
    missingok
    postrotate
        systemctl kill -s USR1 {{ validator_service_name }}.service
    endscript
}
