[Unit]
Description=Jito-Solana transaction relayer
Requires=network-online.target
After=network-online.target

# Ensure key files exist
ConditionPathExists={{ validator_keys_dir }}/jito-relayer-block-eng.json
ConditionPathExists={{ validator_keys_dir }}/jito-relayer-comms-pvt.pem
ConditionPathExists={{ validator_keys_dir }}/jito-relayer-comms-pub.pem

[Service]
Type=simple
User={{ jito_relayer_user }}
Restart=on-failure
ExecStart={{ jito_relayer_startup_script }}

[Install]
WantedBy=multi-user.target
