#!/usr/bin/env bash

set -euo pipefail

export RUST_LOG="{{ jito_relayer_rust_log | default('info') }}"
export SOLANA_METRICS_CONFIG="{{ jito_relayer_metrics_config | default('host=http://metrics.jito.wtf:8086,db=relayer,u=relayer-operators,p=jito-relayer-write') }}"
export BLOCK_ENGINE_URL="{{ jito_relayer_block_engine_url | default('https://dallas.testnet.block-engine.jito.wtf') }}"
export GRPC_BIND_IP="{{ jito_relayer_grpc_bind_ip | default('127.0.0.1') }}"

exec "{{ jito_relayer_install_dir }}/jito-transaction-relayer" \
  --keypair-path="{{ jito_relayer_keys_dir }}/jito-relayer-block-engine-private.json" \
  --signing-key-pem-path="{{ jito_relayer_keys_dir }}/jito-relayer-comms-private.pem" \
  --verifying-key-pem-path="{{ jito_relayer_keys_dir }}/jito-relayer-comms-public.pem"
