---
- name: jito_relayer_cohosted - build_from_source - Create Jito Relayer build
  ansible.builtin.debug:
    msg: "Creating Jito Relayer build"

- name: Ensure jito relayer install root directory exists
  ansible.builtin.file:
    path: "{{ jito_relayer_install_root }}"
    owner: "root"
    group: "root"
    mode: "{{ system_dir_mode }}"
    state: directory
  become: true

- name: jito_relayer_cohosted - build_from_source - Ensure jito relayer releases directory exists
  ansible.builtin.file:
    path: "{{ jito_relayer_installed_releases_dir }}"
    owner: "root"
    group: "root"
    mode: "{{ system_dir_mode }}"
    state: directory
  become: true

- name: Ensure system shared build directory exists
  ansible.builtin.file:
    path: "{{ system_shared_build_dir }}"
    owner: "root"
    group: "root"
    mode: "{{ system_dir_mode }}"
    state: directory
  become: true

- name: jito_relayer_cohosted - build_from_source - Set local variable for jito_relayer_build_dir
  ansible.builtin.set_fact:
    jito_relayer_build_dir: "{{ system_shared_build_dir }}/jito_relayer/{{ jito_relayer_version }}"

- name: jito_relayer_cohosted - build_from_source - Set variable for jito_relayer_installed_release_dir
  ansible.builtin.set_fact:
    jito_relayer_installed_release_dir: "{{ jito_relayer_installed_releases_dir }}/v{{ jito_relayer_version }}"

- name: jito_relayer_cohosted - build_from_source - Ensure jito relayer build directory exists
  ansible.builtin.file:
    path: "{{ jito_relayer_build_dir }}"
    state: directory
    mode: "{{ system_dir_mode }}"
    owner: "root"
    group: "root"
  become: true

- name: jito_relayer_cohosted - build_from_source - Clone and build Jito Relayer from source
  block:
    - name: jito_relayer_cohosted - build_from_source - Clone jito-relayer repository
      ansible.builtin.git:
        repo: https://github.com/jito-foundation/jito-relayer.git
        dest: "{{ jito_relayer_build_dir }}"
        version: "master"
        recursive: true
        force: true
        update: true

    - name: jito_relayer_cohosted - build_from_source - Update git submodules
      ansible.builtin.shell: |
        git submodule update -i -r
      args:
        chdir: "{{ jito_relayer_build_dir }}"

    - name: jito_relayer_cohosted - build_from_source - Checkout Jito Relayer version
      ansible.builtin.shell: |
        git checkout tags/v{{ jito_relayer_version }}
      args:
        chdir: "{{ jito_relayer_build_dir }}"

    - name: jito_relayer_cohosted - build_from_source - Verify git status after checkout
      ansible.builtin.shell: |
        git status
      args:
        chdir: "{{ jito_relayer_build_dir }}"
  become: true

- name: jito_relayer_cohosted - build_from_source - Find out if file jito-transaction-relayer exists
  ansible.builtin.stat:
    path: "{{ jito_relayer_build_dir }}/target/release/jito-transaction-relayer"
  register: build_target_stat

- name: jito_relayer_cohosted - build_from_source - Show build status message
  ansible.builtin.debug:
    msg: >-
      {% if build_target_stat.stat.exists %}
      Skipping build: existing Jito Relayer build found at {{ jito_relayer_build_dir }}/target/release.
      {% else %}
      Starting build process for Jito Relayer
      {% endif %}

- name: jito_relayer_cohosted - build_from_source - Build Jito Relayer from source if not already built
  block:
    - name: jito_relayer_cohosted - build_from_source - Fix ownership and permissions of keys
      ansible.builtin.file:
        path: "{{ jito_relayer_build_dir }}"
        mode: "{{ system_dir_mode }}"
        owner: "root"
        group: "root"
        recurse: true
      become: true

    - name: jito_relayer_cohosted - build_from_source - Build Jito Relayer
      ansible.builtin.shell: |
        set -e
        . "{{ cargo_home }}/env"
        cargo b --release > {{ jito_relayer_build_dir }}/build.log 2>&1
      environment:
        CARGO_HOME: "{{ cargo_home }}"
        RUSTUP_HOME: "{{ rustup_home }}"
      args:
        chdir: "{{ jito_relayer_build_dir }}"
      ignore_errors: "{{ ansible_check_mode }}"
      become: true

    - name: jito_relayer_cohosted - build_from_source - Jito Relayer build completed
      ansible.builtin.debug:
        msg: "Jito Relayer build completed. Build directory: {{ jito_relayer_build_dir }}"
  when: not build_target_stat.stat.exists

- name: jito_relayer_cohosted - build_from_source - Remove existing release directory if present
  ansible.builtin.file:
    path: "{{ jito_relayer_installed_release_dir }}"
    state: absent
  become: true

- name: jito_relayer_cohosted - build_from_source - Create a release directory for the new target
  ansible.builtin.file:
    path: "{{ jito_relayer_installed_release_dir }}"
    state: directory
    mode: "{{ system_dir_mode }}"
    owner: "root"
    group: "root"
  become: true

- name: jito_relayer_cohosted - build_from_source - Copy built binaries to release directory
  ansible.builtin.copy:
    src: "{{ jito_relayer_build_dir }}/target/release/"
    dest: "{{ jito_relayer_installed_release_dir }}/"
    remote_src: yes
    mode: "{{ system_dir_mode }}"
    owner: "root"
    group: "root"
  become: true

- name: jito_relayer_cohosted - build_from_source - Update active release symlink
  ansible.builtin.file:
    src: "{{ jito_relayer_installed_release_dir }}"
    dest: "{{ jito_relayer_install_dir }}"
    state: link
    owner: "root"
    group: "root"
    force: true
  become: true

- name: jito_relayer_cohosted - build_from_source - Add Jito Relayer path to global profile
  ansible.builtin.blockinfile:
    path: /etc/profile.d/solana.sh
    create: true
    mode: '0644'
    marker: "# {mark} ANSIBLE MANAGED RELAYER ENVIRONMENT"
    block: |
      export PATH="{{ jito_relayer_installed_release_dir }}:$PATH"
  become: true
  when: jito_relayer_installed_release_dir is defined and jito_relayer_installed_release_dir != ''

- name: jito_relayer_cohosted - build_from_source - Refresh shell environment and verify PATH
  ansible.builtin.shell: |
    source /etc/profile.d/solana.sh
    echo $PATH
  args:
    executable: /bin/bash
  register: updated_path
  changed_when: false

- name: Show current PATH
  debug:
    msg: "PATH after sourcing: {{ updated_path.stdout }}"

- name: jito_relayer_cohosted - build_from_source - Verify jito-transaction-relayer installation
  ansible.builtin.shell: jito-transaction-relayer --version
  environment:
    PATH: "{{ updated_path.stdout }}"
  register: installed_version

- name: jito_relayer_cohosted - build_from_source - Extract installed version number
  ansible.builtin.set_fact:
    installed_relayer_version: "{{ installed_version.stdout | regex_search('jito-transaction-relayer ([0-9.]+)', '\\1') | first }}"
  when: installed_version.stdout is defined

- name: jito_relayer_cohosted - build_from_source - Debug installed_relayer_version
  ansible.builtin.debug:
    msg: "installed_relayer_version: {{ installed_relayer_version }}"

- name: jito_relayer_cohosted - build_from_source - Fail if installed Jito relayer version is not {{ jito_relayer_version }}
  ansible.builtin.fail:
    msg: "Jito relayer version not satisfied -> installed: {{ installed_relayer_version }}, required: {{ jito_relayer_version }}"
  when: not installed_relayer_version is defined or installed_relayer_version != jito_relayer_version
  tags: [jito_relayer.verify]
