---
- name: jito_relayer_cohosted - Precheck - Check that all jito relayer specific vars are defined
  ansible.builtin.assert:
    that:
      - jito_relayer_build_dir is defined
      - jito_relayer_install_root is defined
      - jito_relayer_installed_releases_dir is defined
      - jito_relayer_install_dir is defined
      - jito_relayer_user is defined
      - jito_relayer_metrics_config is defined
    fail_msg: "One or more required variables for Jito relayer installation are not defined."

# Check if we need to install the relayer

- name: jito_relayer_cohosted - Precheck - Check if Jito relayer binary exists
  ansible.builtin.stat:
    path: "{{ jito_relayer_install_dir }}/jito-transaction-relayer"
  register: relayer_binary
  tags: [jito_relayer.precheck]

- name: jito_relayer_cohosted - Precheck - Get installed Jito relayer version
  ansible.builtin.command: "{{ jito_relayer_install_dir }}/jito-transaction-relayer --version"
  register: installed_version
  changed_when: false
  failed_when: false
  when: relayer_binary.stat.exists
  tags: [jito_relayer.precheck]

- name: jito_relayer_cohosted - Precheck - Extract installed version number
  ansible.builtin.set_fact:
    installed_relayer_version: "{{ installed_version.stdout | regex_search('jito-transaction-relayer ([0-9.]+)', '\\1') | first }}"
  when: relayer_binary.stat.exists and installed_version.stdout is defined
  tags: [jito_relayer.precheck]

- name: jito_relayer_cohosted - Precheck - Set fact for relayer installation needed
  ansible.builtin.set_fact:
    relayer_installation_needed: >-
      {{ not relayer_binary.stat.exists or
         not installed_relayer_version is defined or
         installed_relayer_version != jito_relayer_version }}
  tags: [jito_relayer.precheck]

- name: jito_relayer_cohosted - Precheck - Check if UDP port 11228 is open in firewall
  ansible.builtin.command: "ss -lun | grep ':11228 '\n"
  register: udp_11228_check
  changed_when: false
  failed_when: false
  tags: [jito_relayer.precheck]

- name: jito_relayer_cohosted - Precheck - Check if UDP port 11229 is open in firewall
  ansible.builtin.command: "ss -lun | grep ':11229 '\n"
  register: udp_11229_check
  changed_when: false
  failed_when: false
  tags: [jito_relayer.precheck]

- name: jito_relayer_cohosted - Precheck - Set fact if UDP ports 11228 or 11229 need to be opened
  ansible.builtin.set_fact:
    jito_relayer_open_ports_needed: >-
      {{ (udp_11228_check.rc != 0) or (udp_11229_check.rc != 0) }}
  tags: [jito_relayer.precheck]
