---
- name: Download rustup-init script
  ansible.builtin.get_url:
    url: https://sh.rustup.rs
    dest: /tmp/rustup-init.sh
    mode: "0755"
  become: true

- name: Install Rust using rustup-init
  ansible.builtin.command: /tmp/rustup-init.sh -y
  args:
    creates: "{{ cargo_home }}/bin/rustc"
  environment:
    CARGO_HOME: "{{ cargo_home }}"
    RUSTUP_HOME: "{{ rustup_home }}"
  become: true

- name: Stat - Check if cargo_home directory exists
  ansible.builtin.stat:
    path: "{{ cargo_home }}"
  register: cargo_dir_stat

- name: Stat - Check if rustup_home directory exists
  ansible.builtin.stat:
    path: "{{ rustup_home }}"
  register: rustup_dir_stat

- name: Fix ownership and permissions on Rust directories
  ansible.builtin.file:
    path: "{{ item.path }}"
    owner: "root"
    group: "root"
    mode: "755"
    recurse: true
  become: true
  loop:
    - { path: "{{ cargo_home }}" }
    - { path: "{{ rustup_home }}" }
  when: hostvars[inventory_hostname][item.path | regex_replace('^.*\/(.*)$', '\\1') + '_dir_stat'].stat.exists

- name: Add Rust environment to global profile
  ansible.builtin.blockinfile:
    path: /etc/profile.d/rust.sh
    create: true
    mode: '0644'
    marker: "# {mark} ANSIBLE MANAGED RUST ENVIRONMENT"
    block: |
      export CARGO_HOME="{{ cargo_home }}"
      export RUSTUP_HOME="{{ rustup_home }}"
      export PATH="{{ cargo_home }}/bin:$PATH"
  become: true
