---
- name: Verify Rust installation
  block:
    - name: Check if cargo_home directory exists
      ansible.builtin.stat:
        path: "{{ cargo_home }}"
      register: cargo_dir_check
      tags: [precheck]

    - name: Check if cargo_home/env file exists
      ansible.builtin.stat:
        path: "{{ cargo_home }}/env"
      register: cargo_env_check
      tags: [precheck]

    - name: Check if rustc is available and working
      ansible.builtin.shell: |
        . "{{ cargo_home }}/env"
        rustc --version
      register: rustc_check
      changed_when: false
      failed_when: false
      tags: [precheck]

    - name: Check if cargo is available and working
      ansible.builtin.shell: |
        . "{{ cargo_home }}/env"
        cargo --version
      register: cargo_check
      changed_when: false
      failed_when: false
      tags: [precheck]

    - name: Set fact for rust installation status
      ansible.builtin.set_fact:
        rust_already_installed: "{{ (cargo_dir_check.stat.exists and cargo_env_check.stat.exists and rustc_check.rc == 0 and cargo_check.rc == 0) | bool }}"
      tags: [precheck]
  rescue:
    - name: Set fact for rust installation status on failure
      ansible.builtin.set_fact:
        rust_already_installed: false
      tags: [precheck]
