---
# Setup a monitoring agent at servers
# --------------------
# Usage:
# ------
# Run from /ansible directory:
#
#
# ansible-playbook playbooks/pb_setup_monitoring_agent.yml \
#   -i solana_localnet.yml \
#   -e "target_host=host-monitoring" \
#   -e "ansible_user=monitor" \
#   -e "monitoring_hub_host=monitoring.example.com" \
#   -e "influxdb_hardware_bucket_token=your_token_here" \
#   -e "influxdb_init_org=your_org" \
#   -e "hardware_bucket_name=your_bucket" \
#   -K

- name: Setup monitoring agent at servers
  hosts: "{{ target_host }}"
  user: "{{ ansible_user }}"
  become: true
  pre_tasks:
    - name: Confirm target host before applying changes
      ansible.builtin.import_tasks: ../roles/common/tasks/confirm_target_host.yml

  roles:
    - monitoring_agent
