Hello {{ item.value.user }},

Your server access credentials have been encrypted with your SSH public key.
For decrypt the password, you need to have the private key of the user.

Server IP: {{ ansible_default_ipv4.address }}
Username: {{ item.value.user }}

The encrypted password file is attached to this email.

To decrypt your password:
1. Install age if not already installed:
   - On Ubuntu/Debian: apt install age
   - On macOS: brew install age
2. Save the attachment and run:
   age -d -i ~/.ssh/private_key {{ item.value.user }}_password.age

Connection command:
ssh -p 2522 {{ item.value.user }}@{{ ansible_default_ipv4.address }}

Please change your password upon first login.

Best regards,
{{ smtp_from_name | default('System Administrator') }}
