---
- name: Validate required variables
  ansible.builtin.assert:
    that:
      - jito_version is defined
      - jito_version is regex('^[0-9]+\.[0-9]+\.[0-9]+$')
      - solana_installed_releases_dir is defined
      - solana_user_dir is defined
      - solana_user is defined
    fail_msg: >
      Required variables are missing or invalid:
      - jito_version must be defined and follow semantic versioning (e.g. 1.2.3)
      - solana_installed_releases_dir must be defined
      - solana_user_dir must be defined
      - solana_user must be defined

# Fail if validator service is already running
- name: Check if validator service is running
  ansible.builtin.systemd:
    name: "{{ validator_service_name }}"
  register: validator_service_status

- name: Fail if validator service is already running
  ansible.builtin.fail:
    msg: "Validator service is already running. To force stop the existing service and proceed with installation, run the playbook with: -e \"force_host_cleanup=true\""
  when: not (force_host_cleanup | default(false) | bool) and validator_service_status.status.ActiveState == "active"

# Check if the desired version of jito client is already installed
- name: Check if Jito-Solana binary exists
  ansible.builtin.stat:
    path: "{{ solana_install_dir }}/solana"
  register: solana_binary
  tags: [jito_client.precheck]

- name: Precheck - Get installed Jito-Solana version
  ansible.builtin.command: "{{ solana_install_dir }}/agave-validator --version"
  register: installed_version
  changed_when: false
  failed_when: false
  when: solana_binary.stat.exists
  tags: [jito_client.precheck]

- name: Precheck - Extract installed version number
  ansible.builtin.set_fact:
    installed_jito_version: "{{ installed_version.stdout | regex_search('agave-validator ([0-9.]+)', '\\1') | first }}"
  when: solana_binary.stat.exists and installed_version.stdout is defined
  tags: [jito_client.precheck]

# Take into account client as well as version number
# agave-validator 2.2.16 (src:90240211; feat:3073396398, client:JitoLabs)
# Matching both we ensure jito client installation is needed or not
- name: Precheck - Extract installed client identifier
  ansible.builtin.set_fact:
    installed_jito_client: "{{ installed_version.stdout | regex_search('client:([A-Za-z0-9]+)', '\\1') | first }}"
  when: solana_binary.stat.exists and installed_version.stdout is defined
  tags: [jito_client.precheck]

- name: Precheck - Set fact for Jito-Solana installation needed
  ansible.builtin.set_fact:
    jito_installation_needed: >-
      {{ not solana_binary.stat.exists or
         not installed_jito_version is defined or
         installed_jito_version != jito_version or
         (installed_jito_client != 'JitoLabs' and installed_jito_client != 'Bam') }}
  tags: [jito_client.precheck]
