# Global Agent Configuration
[agent]
hostname = "{{ ansible_facts['hostname'] }}"
flush_interval = "60s"
interval = "{{ item.value.metrics_interval | default('60s') }}"

# Plugin to Run Monitoring Script
[[inputs.exec]]
  commands = ["/etc/telegraf/scripts/monitor-{{ item.value.network_name }}.sh"]
  interval = "1m"
  timeout = "1m"
  data_format = "influx"
  data_type = "integer"
