#=============================================================================
# Hayek Monitor Environment Variables
# Compatible with bash/zsh (when sourced) and with systemd (EnvironmentFile)
#=============================================================================

# --- Mainnet ---
MAINNET_NAME_SUFFIX="{{ solana.network.mainnet.network_name }}"
MAINNET_VOTE_ACCOUNT="{{ validator.network.mainnet.vote_account }}"
MAINNET_IDENTITY="{{ validator.network.mainnet.public_key }}"
WATCHTOWER_MIN_BALANCE_MAINNET="{{ solana.network.mainnet.watchtower_min_balance }}"

# --- Testnet ---
TESTNET_NAME_SUFFIX="{{ solana.network.testnet.network_name }}"
TESTNET_VOTE_ACCOUNT="{{ validator.network.testnet.vote_account }}"
TESTNET_IDENTITY="{{ validator.network.testnet.public_key }}"
WATCHTOWER_MIN_BALANCE_TESTNET="{{ solana.network.testnet.watchtower_min_balance }}"

# --- Devnet ---
DEVNET_NAME_SUFFIX="{{ solana.network.devnet.network_name }}"
DEVNET_VOTE_ACCOUNT="{{ validator.network.devnet.vote_account }}"
DEVNET_IDENTITY="{{ validator.network.devnet.public_key }}"
WATCHTOWER_MIN_BALANCE_DEVNET="{{ solana.network.devnet.watchtower_min_balance }}"

# --- Debug ---
DEBUG_NAME_SUFFIX="{{ solana.network.debug.network_name }}"
DEBUG_VOTE_ACCOUNT="{{ validator.network.debug.vote_account }}"
DEBUG_IDENTITY="{{ validator.network.debug.public_key }}"
WATCHTOWER_MIN_BALANCE_DEBUG="{{ solana.network.debug.watchtower_min_balance }}"

# --- Localnet ---
LOCALNET_NAME_SUFFIX="{{ solana.network.localnet.network_name }}"
LOCALNET_VOTE_ACCOUNT="{{ validator.network.localnet.vote_account }}"
LOCALNET_IDENTITY="{{ validator.network.localnet.public_key }}"
WATCHTOWER_MIN_BALANCE_LOCALNET="{{ solana.network.localnet.watchtower_min_balance }}"

# --- Solana RPC ---
SOLANA_MAINNET_RPC="{{ solana.network.mainnet.rpc_url }}"
SOLANA_TESTNET_RPC="{{ solana.network.testnet.rpc_url }}"
SOLANA_DEVNET_RPC="{{ solana.network.devnet.rpc_url }}"
SOLANA_LOCALNET_RPC="{{ solana.network.localnet.rpc_url }}"

# --- Telegram ---
TELEGRAM_BOT_TOKEN="{{ notification_secrets.telegram.bot_tokens }}"
TELEGRAM_CHAT_ID_MAINNET="{{ notification_secrets.telegram.chat_ids.mainnet }}"
TELEGRAM_CHAT_ID_TESTNET="{{ notification_secrets.telegram.chat_ids.testnet }}"
TELEGRAM_CHAT_ID_DEVNET="{{ notification_secrets.telegram.chat_ids.devnet }}"
TELEGRAM_CHAT_ID_LOCALNET="{{ notification_secrets.telegram.chat_ids.localnet }}"
TELEGRAM_CHAT_ID_DEBUG="{{ notification_secrets.telegram.chat_ids.debug }}"


# --- Discord ---
DISCORD_WEBHOOK_GENERAL="{{ notification_secrets.discord_webhooks.mainnet }}"
DISCORD_WEBHOOK_MAINNET="{{ notification_secrets.discord_webhooks.mainnet }}"
DISCORD_WEBHOOK_TESTNET="{{ notification_secrets.discord_webhooks.testnet }}"
DISCORD_WEBHOOK_DEBUG="{{ notification_secrets.discord_webhooks.debug }}"
DISCORD_WEBHOOK_LOCALNET="{{ notification_secrets.discord_webhooks.localnet }}"


# InfluxDB v2 connection (Telegraf style)
INFLUX_URL="http://localhost:{{ influxdb_port | default(8086) }}"
INFLUX_ORG="{{ influxdb_init_org }}"
INFLUX_BUCKET="{{ solana_metrics_bucket_name | default(influxdb_additional_buckets[1].name) }}"
INFLUX_TOKEN="{{ solana_metrics_token }}"

# --- Solana Binary Path ---
SOLANA_BIN="{{ solana_cli_bin }}"

#=============================================================================
# Support for bash/zsh
#=============================================================================
# If the file is being sourced in a shell, export all variables
if [ -n "${BASH_VERSION:-}" ]; then
  export MAINNET_NAME_SUFFIX
  export MAINNET_VOTE_ACCOUNT
  export MAINNET_IDENTITY
  export WATCHTOWER_MIN_BALANCE_MAINNET
  export TESTNET_NAME_SUFFIX
  export TESTNET_IDENTITY
  export TESTNET_VOTE_ACCOUNT
  export WATCHTOWER_MIN_BALANCE_TESTNET
  export DEBUG_IDENTITY
  export DEBUG_VOTE_ACCOUNT
  export DEBUG_HOST
  export WATCHTOWER_MIN_BALANCE_DEBUG
  export LOCALNET_NAME_SUFFIX
  export LOCALNET_IDENTITY
  export LOCALNET_VOTE_ACCOUNT
  export WATCHTOWER_MIN_BALANCE_LOCALNET
  export DEVNET_NAME_SUFFIX
  export DEVNET_IDENTITY
  export DEVNET_VOTE_ACCOUNT
  export WATCHTOWER_MIN_BALANCE_DEVNET
  export SOLANA_MAINNET_RPC
  export SOLANA_TESTNET_RPC
  export TELEGRAM_BOT_TOKEN
  export TELEGRAM_CHAT_ID_MAINNET
  export TELEGRAM_CHAT_ID_DEVNET
  export TELEGRAM_CHAT_ID_DEBUG
  export TELEGRAM_CHAT_ID_LOCALNET
  export TELEGRAM_CHAT_ID_TESTNET
  export DISCORD_WEBHOOK_GENERAL
  export DISCORD_WEBHOOK_MAINNET
  export DISCORD_WEBHOOK_TESTNET
  export DISCORD_WEBHOOK_DEBUG
  export DISCORD_WEBHOOK_LOCALNET
  export INFLUX_URL
  export INFLUX_ORG
  export INFLUX_BUCKET
  export INFLUX_TOKEN
  export SOLANA_BIN
fi
