[Unit]
Description=Jito-Solana transaction relayer
Requires=network-online.target
After=network-online.target

# Ensure key files exist
ConditionPathExists={{ validator_keyset_dir }}/jito-relayer-block-eng.json
ConditionPathExists={{ validator_keyset_dir }}/jito-relayer-comms-pvt.pem
ConditionPathExists={{ validator_keyset_dir }}/jito-relayer-comms-pub.pem

[Service]
Type=exec
User={{ jito_relayer_user }}
Restart=on-failure
Environment=RUST_LOG=info
Environment=SOLANA_METRICS_CONFIG={{ jito_relayer_metrics_config }}
Environment=BLOCK_ENGINE_URL={{ jito_block_engine_url }}
Environment=GRPC_BIND_IP=127.0.0.1

ExecStart={{ jito_relayer_install_dir }}/jito-transaction-relayer \
          --keypair-path={{ validator_keyset_dir }}/jito-relayer-block-eng.json \
          --signing-key-pem-path={{ validator_keyset_dir }}/jito-relayer-comms-pvt.pem \
          --verifying-key-pem-path={{ validator_keyset_dir }}/jito-relayer-comms-pub.pem

[Install]
WantedBy=multi-user.target