#!/bin/bash

PATH="/bin:/usr/bin:{{ solana_install_dir }}"
{% if solana_metrics_url is defined and solana_metrics_url != None and solana_metrics_url != '' %}
export SOLANA_METRICS_CONFIG="host={{ solana_metrics_url }}"
{% endif %}
exec agave-validator \
--identity {{ validator_keys_dir }}/identity.json \
--vote-account {{ vote_account_pubkey }} \
--authorized-voter {{ validator_keys_dir }}/primary-target-identity.json \
{% for known_validator in known_validators %}
--known-validator {{ known_validator }} \
{% endfor %}
{% if only_known_rpc is defined and only_known_rpc %}
--only-known-rpc \
{% endif %}
--ledger {{ ledger_path }} \
--accounts {{ accounts_path }} \
--snapshots {{ snapshots_path }} \
{# TODO: Remove this conditional logic once all clusters/validators are running solana/jito >= 3.0.0 #}
{% if jito_version is defined and jito_version is version('3.0.0', '>=') %}
--no-snapshots \
{% else %}
--snapshot-interval-slots 0 \
{% endif %}
--minimal-snapshot-download-speed {{ minimal_snapshot_download_speed }} \
--private-rpc \
--rpc-port {{ solana_rpc_port }} \
--dynamic-port-range {{ open_solana_ports_start }}-{{ open_solana_ports_end }} \
--gossip-port {{ gossip_port }} \
{% for entrypoint in solana_gossip_entrypoints %}
--entrypoint {{ entrypoint }} \
{% endfor %}
--expected-genesis-hash {{ expected_genesis_hash }} \
--wal-recovery-mode skip_any_corrupted_record \
--limit-ledger-size {% if limit_ledger_size is defined %}{{ limit_ledger_size }}{% endif %} \
--block-verification-method unified-scheduler \
{% if solana_cluster != "localnet" and poh_pinned_cpu_core_enabled is defined and poh_pinned_cpu_core_enabled and poh_pinned_cpu_core is defined %}
--experimental-poh-pinned-cpu-core {{ poh_pinned_cpu_core }} \
{% endif %}
--tip-payment-program-pubkey {{ jito_tip_payment_program_pubkey }} \
--tip-distribution-program-pubkey {{ jito_tip_distribution_program_pubkey }} \
--merkle-root-upload-authority {{ jito_merkle_root_upload_authority }} \
--commission-bps {{ jito_commission_bps }} \
--relayer-url {{ jito_relayer_url }} \
--block-engine-url {{ jito_block_engine_url }} \
--shred-receiver-address {{ jito_shred_receiver_addr }} \
{% if jito_relayer_type == 'co-hosted' %}
--full-rpc-api \
--account-index program-id \
--account-index-include-key AddressLookupTab1e1111111111111111111111111 \
{% endif %}
{% if solana_cluster == "localnet" %}
--no-os-network-limits-test \
--allow-private-addr \
{% endif %}
{% if extra_params is defined %}
{% for extra_var in extra_params %}
{{ extra_var }} \
{% endfor %}
{% endif %}
--log {{ logs_dir }}/agave-validator.log
