apiVersion: 1

datasources:
  - name: "{{ grafana_config.hardware_metrics_source_name | default('Hardware Metrics') }}"
    type: influxdb
    uid: "{{ grafana_config.hardware_metrics_source_uid | default('hardware_metrics_uid') }}"
    access: proxy
    url: http://localhost:8086
    database: "{{ hardware_metrics_bucket_name | default(influxdb_additional_buckets[0].name) }}"
    basicAuth: true
    basicAuthUser: "token"
    secureJsonData:
      basicAuthPassword: "{{ hardware_metrics_token }}"
    jsonData:
      httpMode: POST
    isDefault: true
    editable: true
    version: 1

  - name: "Solana Metrics"
    type: influxdb
    uid: "solana_metrics_uid"
    access: proxy
    url: http://localhost:8086
    database: "{{ solana_metrics_bucket_name | default(influxdb_additional_buckets[1].name) }}"
    basicAuth: true
    basicAuthUser: "token"
    secureJsonData:
      basicAuthPassword: "{{ solana_metrics_token }}"
    jsonData:
      httpMode: POST
    isDefault: false
    editable: true
    version: 1

{# Add a JSON datasource for each cluster with stakewiz enabled #}
{% for cluster_name, cluster in solana.network.items() %}
{% if cluster.enabled and cluster.stakewiz %}
  - name: "{{ validator.network[cluster_name].validator_name }} Stakewiz JSON"
    type: marcusolsson-json-datasource
    uid: "stakewiz_json_{{ cluster.network_name }}"
    access: proxy
    url: "https://api.stakewiz.com/validator/{{ validator.network[cluster_name].vote_account }}"
    jsonData:
      httpHeaderName1: ""
      httpHeaderValue1: ""
    isDefault: false
    editable: true
    version: 1

{% endif %}
{% endfor %}