---
- name: Precheck parameters
  import_tasks: precheck.yml
  tags: [solana_validator_jito, precheck]

- name: Prepare variables needed for the role
  import_tasks: prepare.yml
  tags: [solana_validator_jito, prepare]

- name: Cleanup the host from existing validator data
  import_tasks: host_cleanup.yml
  when: force_host_cleanup | default(false) | bool
  tags: [solana_validator_jito, cleanup]

# Jito client installation and configuration
- name: Setup Jito client
  import_tasks: jito_client/main.yml

# Jito relayer installation and configuration
- name: Co-hosted Relayer installation
  import_tasks: jito_relayer_cohosted/main.yml
  when: jito_relayer_type == 'co-hosted'

- name: Print Summary
  import_tasks: summary.yml
