---
- name: Config - Determine Solana cluster parameter
  ansible.builtin.import_tasks: ../../solana_validator_shared/tasks/determine_solana_cluster_param.yml

- name: Config - Refresh shell environment
  ansible.builtin.shell: |
    source /etc/profile.d/rust.sh
    source /etc/profile.d/solana.sh
    echo $PATH
  args:
    executable: /bin/bash
  register: cli_shell_env_path
  changed_when: false

- name: Config - Show current PATH
  debug:
    msg: "PATH after sourcing: {{ cli_shell_env_path.stdout }}"

- name: Config - Set Solana CLI to use a default cluster
  ansible.builtin.command: solana config set {{ solana_cluster_param }}
  environment:
    PATH: "{{ cli_shell_env_path.stdout }}"
  register: solana_config_set
  changed_when: "'Config File' in solana_config_set.stdout"

- name: Config - Show current Solana CLI config
  ansible.builtin.command: solana config get
  environment:
    PATH: "{{ cli_shell_env_path.stdout }}"
  register: solana_config_get
  changed_when: false

- name: Config - Print Solana CLI config
  ansible.builtin.debug:
    msg: "Current Solana CLI config:\n{{ solana_config_get.stdout }}"
