---
- name: Set Solana Agave download URL
  ansible.builtin.set_fact:
    agave_download_url: "https://solv-store.s3.us-east-1.amazonaws.com/agave/releases/download/v{{ agave_version }}/solana-release-{{ host_arch }}.tar.bz2"

- name: Print the Agave download URL
  ansible.builtin.debug:
    msg: "Solana CLI will be downloaded from: {{ agave_download_url }}"

- name: Ensure solana installed releases directory exists
  ansible.builtin.file:
    path: "{{ system_solana_installed_releases_dir }}"
    owner: "root"
    group: "root"
    mode: "2775"
    state: directory
  become: true

- name: Set local variable for solana_installed_release_dir
  ansible.builtin.set_fact:
    solana_installed_release_dir: "{{ system_solana_installed_releases_dir }}/v{{ agave_version }}"

- name: Ensure Solana CLI releases directory exists
  ansible.builtin.file:
    path: "{{ solana_installed_release_dir }}"
    owner: "root"
    group: "root"
    mode: "2755"
    state: directory
  become: true

- name: Unarchiving solana binaries into the releases directory
  ansible.builtin.debug:
    msg: "Unarchive release directory: {{ solana_installed_release_dir }}"

- name: Unarchive solana binaries
  ansible.builtin.unarchive:
    src: "{{ agave_download_url }}"
    dest: "{{ solana_installed_release_dir }}"
    remote_src: true
    creates: "{{ solana_installed_release_dir }}/solana-release/bin/agave-validator"
  ignore_errors: "{{ ansible_check_mode }}" # can be also: when: not ansible_check_mode
  become: true

- name: Fix ownership of release directory and contents
  ansible.builtin.file:
    path: "{{ solana_installed_release_dir }}"
    owner: "root"
    group: "root"
    mode: "755"
    recurse: true
  become: true

- name: Create symlink to new release
  ansible.builtin.file:
    src: "{{ solana_installed_release_dir }}/solana-release"
    dest: "{{ system_solana_install_dir }}/active_release"
    state: link
    owner: "root"
    group: "root"
    force: true
  become: true
