---
# Grafana specific paths and permissions
grafana_config:
  user: "grafana"
  group: "grafana"
  dashboards_dir: "/var/lib/grafana/dashboards"
  provisioning_dir: "/etc/grafana/provisioning"



  permissions:
    config_files:
      owner: "root"
      group: "grafana"
      mode: "0640"
    data_dirs:
      owner: "root"
      group: "grafana"
      mode: "0755"

# Additional buckets for metrics
influxdb_additional_buckets:
  - name: "hardware_metrics"
    description: "Hardware metrics (CPU, RAM, disk, network, etc.) for all servers."
    expectations: false
    token_permissions_write: true
    token_permissions_read: true
    retention: 30 # days
  - name: "solana_metrics"
    description: "Solana validator metrics (production, slots, balance, vote credits, etc.)"
    expectations: false
    token_permissions_write: true
    token_permissions_read: true
    retention: 90 # days

# Solana specific variables
solana_cli_bin: "/opt/solana/active_release/bin/solana"

# Metrics collection interval in seconds for custom script validator-metrics.sh
solana_metrics_interval: "120" # seconds

solana:
  network:
    mainnet:
      enabled: true
      network_name: "mainnet"
      metrics_interval: "30s"
      watchtower_min_balance: 0.5
      rpc_url: "https://api.mainnet-beta.solana.com/"
      stakewiz: true # Get Stakewiz rankings
      jito_mev: true
      doublezero_enabled: false
    testnet:
      enabled: true
      network_name: "testnet"
      metrics_interval: "30s"
      watchtower_min_balance: 0.5
      rpc_url: "https://api.testnet.solana.com/"
      stakewiz: false # Get Stakewiz rankings
      jito_mev: false
      doublezero_enabled: true
    devnet:
      enabled: false
      network_name: "devnet"
      metrics_interval: "30s"
      watchtower_min_balance: 0.5
      rpc_url: "https://api.devnet.solana.com/"
      stakewiz: false # Get Stakewiz rankings
      jito_mev: false
      doublezero_enabled: false
    localnet:
      enabled: true
      network_name: "localnet"
      metrics_interval: "30s"
      watchtower_min_balance: 0.5
      rpc_url: "http://172.25.0.10:8899"
      stakewiz: false # Get Stakewiz rankings
      jito_mev: false
      doublezero_enabled: false
    debug:
      enabled: false
      network_name: "debug"
      metrics_interval: "30s"
      watchtower_min_balance: 0.5
      rpc_url: "https://api.mainnet-beta.solana.com/"
      stakewiz: true # Get Stakewiz rankings
      jito_mev: false
      doublezero_enabled: false

# Monitoring services to manage
monitoring_services:
  - grafana-server
  - influxdb
  - telegraf-{{ solana.network.mainnet.network_name }}
  - telegraf-{{ solana.network.testnet.network_name }}
  - telegraf-{{ solana.network.devnet.network_name }}
  - telegraf-{{ solana.network.localnet.network_name }}
