---
# User and group configuration
monitoring_user: "monitor"
monitoring_group: "monitor"

# Grafana specific paths and permissions
grafana_config:
  user: "grafana"
  group: "grafana"
  dashboards_dir: "/var/lib/grafana/dashboards"
  provisioning_dir: "/etc/grafana/provisioning"



  permissions:
    config_files:
      owner: "root"
      group: "grafana"
      mode: "0640"
    data_dirs:
      owner: "root"
      group: "grafana"
      mode: "0755"

# Additional buckets for metrics
influxdb_additional_buckets:
  - name: "hardware_metrics"
    description: "Hardware metrics (CPU, RAM, disk, network, etc.) for all servers."
    expectations: false
    token_permissions_write: true
    token_permissions_read: true
    retention: 30 # days
  - name: "solana_metrics"
    description: "Solana validator metrics (production, slots, balance, vote credits, etc.)"
    expectations: false
    token_permissions_write: true
    token_permissions_read: true
    retention: 90 # days

# Variables override for monitoring_hub role (compatibility)
solana_user: "{{ monitoring_user }}"

# Solana specific variables
solana_cli_bin: "/home/{{ monitoring_user }}/.local/share/solana/install/active_release/bin/solana"

solana:
  network:
    mainnet:
      enabled: false
      network_name: "mainnet"
      metrics_interval: "30s"
      watchtower_min_balance: 0.5
      rpc_url: "https://api.mainnet-beta.solana.com/"
    testnet:
      enabled: false
      network_name: "testnet"
      metrics_interval: "30s"
      watchtower_min_balance: 0.5
      rpc_url: "https://api.testnet.solana.com/"
    devnet:
      enabled: false
      network_name: "devnet"
      metrics_interval: "30s"
      watchtower_min_balance: 0.5
      rpc_url: "https://api.devnet.solana.com/"
    localnet:
      enabled: true
      network_name: "localnet"
      metrics_interval: "30s"
      watchtower_min_balance: 0.5
      rpc_url: "http://172.25.0.10:8899"
    debug:
      enabled: false
      network_name: "debug"
      metrics_interval: "30s"
      watchtower_min_balance: 0.5
      rpc_url: "https://api.mainnet-beta.solana.com/"

# Monitoring services to manage
monitoring_services:
  - grafana-server
  - influxdb
  - telegraf-{{ solana.network.mainnet.network_name }}
  - telegraf-{{ solana.network.testnet.network_name }}
  - telegraf-{{ solana.network.devnet.network_name }}
  - telegraf-{{ solana.network.localnet.network_name }}
